
#slide-1 body {
  background: radial-gradient(rgb(240, 240, 240), rgb(110, 110, 110));
}
#slide-1.slide {
  data-scale: 1;
  data-x: 14100;
  data-y: -3000;
  display: block;
  width: 900px;
  height: 700px;
  transition: absolute;
  color: rgb(102,102,102);
  font-size: 100%;
  data-offset: 20;
}
#slide-1 .slide-content {
  display: block;
  float: left;
  width: 100%;
  height: 92%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  background: white;
  color: rgb(102,102,102);
  padding: 2%;
}
#slide-1 .slide-header-1 {
  border-radius: 30%;
  height: 6%;
  padding: 1% 2%;
  background: #4788B3;
  color: white;
  display: block;
  active: yes;
  width: 100%;
}
#slide-1 .slide-header-2 {
  height: 2%;
  display: block;
  active: yes;
  width: 100%;
}
#slide-1 .box {
  display: inline-block;
  font-variant: small-caps;
  box-shadow: 7px 7px 5px rgba(200,200,200,0.3);
  border-radius: 20px;
}
#slide-1 .box-caption {
  padding: 0 2%;
  color: red;
  border-bottom: 1px solid #4788B3;
  display: inline-block;
}
#slide-1 .box-content {
  padding: 0 2%;
  font-size: 120%;
}
#slide-1 .note {
  display: inline-block;
  font-variant: small-caps;
  box-shadow: 7px 7px 5px rgba(200,200,200,0.3);
  border-radius: 20px;
}
#slide-1 .note-caption {
  padding: 0 2%;
  color: #4788B3;
  border-bottom: 1px solid #4788B3;
  display: inline-block;
}
#slide-1 .note-content {
  padding: 0 2%;
  font-size: 120%;
}
#slide-1 .table-caption {
  padding: 2% 2%;
  color: #4788B3;
  display: inline-block;
}
#slide-1 .figure {
  font-variant: small-caps;
  text-align: center;
}
#slide-1 .figure-caption {
  font-size: 80%;
  color: #4788B3;
}
#slide-1 .figure-content {
  padding: 1% 5%;
  box-shadow: 5px 5px 3px rgba(200,200,200,0.3);
  border-radius: 15px;
}
#slide-1 .video {
  font-variant: small-caps;
  text-align: center;
}
#slide-1 .video-caption {
  font-size: 80%;
  color: #4788B3;
}
#slide-1 .video-content {
  controls: ;
  autoplay: ;
  padding: 1% 5%;
  box-shadow: 5px 5px 3px rgba(200,200,200,0.3);
  border-radius: 15px;
}